/* Main App Styling */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #333; /* Dark mode background color */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; /* Dark mode text color */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  height: 100%;
}

body {
  margin: 0;
  background-color: #333; /* Dark mode background color */
}

/* Background */
.bg {
  background-color: #353535; /* Dark mode background color */
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

/* Mist effect */
.mist {
  animation: mistMovement 15s linear infinite alternate;
  background: radial-gradient(rgba(255, 255, 255, 0.2), transparent);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

@keyframes mistMovement {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}





.content {
  background-color: rgba(0, 0, 0, 0.8); /* Dark mode background color */
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(255, 255, 255, 0.25); /* Dark mode box shadow color */
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: monospace;
  color: white; /* Dark mode text color */
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 900px;
}

header {
  text-align: center;
  width: 100%;
  height: auto;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 85% 85% / 30%;
}

header .overlay {
  width: 100%;
  height: 100%;
  padding: 50px;
  color: #fff;
  text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient(135deg, #9f05ff69 10%, #fd5e086b 100%);
}

h1 {
  font-family: "Segoe UI", cursive;
  font-size: 60px;
  margin-bottom: 30px;
}

h3,
p {
  font-family: "Segoe UI", sans-serif;
  margin-bottom: 30px;
}

.share {
  padding: 5px 15px; 
  margin-top: 10px;
  background-color: #009FFD; /* Brighter blue background color */
  color: #ffffff; /* Light text color */
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 8px;
  z-index: 1;
  display: inline-flex; /* Ensuring the arrow and text are aligned */
  align-items: center; /* Aligning items vertically centered */
}

.share:before {
  content: "↪ "; /* Unicode arrow */
  margin-right: 5px; /* Small space between the arrow and the text */
}

.share:hover {
  box-shadow: rgba(0, 110, 253, 0.397) 0 3px 8px; 
}


