.top {
  margin: 40px;
}

input[type="file"] {
  display: none;
}

/* Base styles */
/* Base styles */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Dark Mode Styling */
body {
  background-color: #1a1a1a; /* Dark background color */
  color: #ffffff; /* Light text color */
}

/* Button styles */
.button,
.choose,
.upload {
  background-color: #009ffd; /* Primary button background color */
  color: #ffffff; /* Light text color */
  padding: 5px 15px; /* Adjusted padding for consistency */
  border: none;
  font-size: 16px;
  border-radius: 6px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.button:hover,
.choose:hover,
.upload:hover {
  box-shadow: rgba(0, 159, 253, 0.5) 0 3px 8px;
}

/* Textarea styles */
.textArea {
  color: #ffffff; /* Light text color */
  background-color: #333; /* Dark textarea background color */
  border: none;
  border-radius: 6px;
  padding: 10px;
  resize: vertical;
  width: 100%;
  min-height: 150px;
}

.textArea:focus {
  background-color: #555; /* Slightly lighter textarea background color on focus */
}

/* Upload button styles */
.upload {
  border: 1px solid #13aa52;
  background-color: #13aa52;
  color: #ffffff;
  padding: 5px 15px; /* Adjusted padding for consistency */
  border-radius: 6px;
  margin-left: 10px;
}

.upload:hover {
  border: 1px solid #13aa52;
  background-color: #1ead6b; /* Slightly darker green on hover */
  color: #ffffff;
}

.upload:disabled,
.upload[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}


div {
  padding: 5px 10px;
}
