.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); 
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.modalContainer {
  width: 550px;   
  min-height: 200px;
  height: fit-content;
  border-radius: 12px;
  background-color: #333;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: inline-block;
  flex-direction: column;
  padding: 25px;
  text-align: center;  
  text-decoration: none;
}

.title {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}


.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white; 
  text-decoration: none;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
}


.address {
  display: block;
  margin: 24px auto 12px auto;
  height: 30px;
  width: 430px;
  padding: 20px 0px;
  text-align: center;
  background-color: #555; 
  color: white; 
  text-decoration: none;
}

input[type="text"]:focus {
  background-color: #777; 
  color: white; 
  text-decoration: none;
}

.modal-select{
  background: #999999;
  padding: 5px 15px;
  border-radius: 6px;
  margin: 10px;
  margin-bottom: 20px;
  width: 432px;
}
.nav-col-3 {
  display: flex;
  align-items: center;
  align-content: center;
}
.body-text{
  height: 60vh;
  overflow-y: auto;
  overflow-wrap: break-word;
  margin-bottom: 20px;
  margin-top: 0px;
}


.link {
  color: inherit;
  text-decoration: underline;
}

.instruction-title {
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.1em;
}

.instruction-list {
  margin-left: 20px;
  margin-bottom: 20px;
}

.justify-text {
  text-align: justify;
}